
             .table-hover>tbody>tr:hover
				{
					background:#bed1c3;
				}
			.social a i
				{
					font-size: 30px;
			 		width: 30px;
			 		height: 30px;
			 	}
			.social-circle li 
			{
					display: inline-block;
					font-size: 22px;
					padding: 8px;
			} 	
				
            